<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>548808778021-9kcobim58bsov54r3khr1aqco7ijfi6n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.548808778021-9kcobim58bsov54r3khr1aqco7ijfi6n</string>
	<key>API_KEY</key>
	<string>AIzaSyA6iw0n8qv3h2F-3NERb9Wjy2OEW5TkzIQ</string>
	<key>GCM_SENDER_ID</key>
	<string>548808778021</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.chatApp</string>
	<key>PROJECT_ID</key>
	<string>chatapp-161b0</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapp-161b0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:548808778021:ios:381433d016db5fa8b7bacc</string>
</dict>
</plist>